<html>
  <head></head>
  <style>
  input[type=text]:focus {
    border: 3px solid #555;
  }
  body {
    text-align: center;
  }
  form {
    display: inline-block;
    vertical-align: middle;
  }
  </style>
  <body style="background-color:<%= color %>">
    <p>
    <%= message %>
    </p>
    <form>
      <input type="text" name="guess">
      <input type="submit" value="Guess!">
    </form>
  </body>
</html>
